{{#partial "main"}}
    <style>
        h1 {
            color: #333;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 0 auto;
            width: 50%;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .button-container {
            text-align: right;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

<body>
    <h3 class="text-center" style="color: #0A2472;">Reportar Incidente</h3>
    <form id="miFormulario" method="GET">
        <div style="background-color: #fff; padding: 10px; display: flex; justify-content: center">
            <div style="background-color: #007BFF; color: #fff; padding: 5px 10px; border-radius: 5px;">1</div>
            <div style="background-color: #007BFF; color: #fff; padding: 5px 10px; border-radius: 5px;">2</div>
            <div style="background-color: #007BFF; color: #fff; padding: 5px 10px; border-radius: 5px;">3</div>
            <div style="background-color: #fff; padding: 5px 10px; border-radius: 5px;">4</div>
        </div>
        <select id="prestacion" name="prestacion" required>
            <option value="">Seleccione un servicio</option>
            {{#each displayServicios}}
                <option value="{{this.prestacion_id}}">{{this.nombreServicio}}</option>
            {{/each}}
        </select>
        <div class="button-container">
            <input type="submit" class="btn btn-success" style="background-color: #0D828C; font-family: Arial, sans-serif; color: #F2F9FF;" id="submitButton" value="Siguiente">
        </div>
    </form>
{{/partial}}
{{> layouts/layout }}

<script>
    function agregarPathAUrlActual(servicioId) {
      const url = window.location.href;
      const urlObj = new URL(url);
      //urlObj.searchParams.set("prestacion",servicioId);
      const path = urlObj.pathname;
      console.log(path);
      const newPath = `${path}/${servicioId}`;
      const nuevaURL = `${urlObj.path}${newPath}`;
      return newPath;
    }
    document.getElementById('prestacion').addEventListener('change', function () {
            const servicioId = this.value;
            const nuevaURL = agregarPathAUrlActual(servicioId);
            const form = document.getElementById('miFormulario');
            form.action = nuevaURL;
    });
</script>