{{#partial "main"}}
  <h1 class="text-center mt-2">Contacto</h1>

  <div class="contact-info" style="margin-left: 5%;">
    <p><strong>Correo Electrónico:</strong> smes@gmail.com</p>
    <p><strong>Número de Teléfono:</strong> +54 9 11 1234-5678</p>
    <p><strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 am - 5:00 pm</p>
    <p><strong>Dirección:</strong> Medrano 951, Buenos Aires</p>
    <div class="map-container" style="text-align: center;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.6789!2d-58.432830!3d-34.604167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa34a409a91%3A0xdff997e4ea85a647!2sMedrano%20951%2C%20C1179%20CABA%2C%20Argentina!5e0!3m2!1sen!2sus!4v1637001940123!5m2!1sen!2sus" width="600" height="450" style="border:0; margin: 0 auto;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>

  <div style="height: 60px;"></div>

{{/partial}}
{{> layouts/layout}}
