{{#partial "main"}}
  <h1 class="text-center mt-2">¡Bienvenido al SMES!</h1>
  <div class="container {{container-class}}">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="text-center mt-5">
          <h4 style="font-style: italic;">
            "Conectando Ciudades, Construyendo Accesibilidad"
          </h4>
        </div>
        <div class="text-center mt-3">
              <img src="/static/img/transporte_1.png" style="display: inline-block;">
        </div>
{{/partial}}
{{> layouts/layout}}